@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bitter:wght@300&display=swap');




*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;

}


body{
background:linear-gradient(white,rgba(8, 8, 32, 0.17 )100pt,white 10pt);



}




 .cabecalho{
display:flex ;
align-items:center;
justify-content:space-around;
font-size: 20px;
margin: 30px;
padding: 80px;
}

.cabecalho-imagem{
  height: 90px;

}


.cabecalho-menu{
display: flex;
text-align: center;



}




.cabecalho-menu-item{
font-family: Anton;
color:rgb(15, 30, 170);
padding: 45px;
max-width:auto ;
max-height:auto ;
min-width:auto ;
min-height:auto ;
text-align: center;

}



.conteudo{
    display: inline;

}



.conteudo-principal{
text-align:justify;
display: inline;


}




.conteudo-principal-escrito{
display: inline;
text-align:center ;
max-width: auto; 
max-height: auto;   
min-height: auto;
min-width: auto ;

}



.conteudo-principal-escrito-titulo{
text-align:center ;
font-family: Bitter;
font-size: 44px; 
color: rgb(7, 7, 250);
}


.conteudo-principal-escrito-subtitulo{
font-family: Bitter;
text-align:center ;
font-size: 20px;

}


.conteudo-principal-imagem{
    display:flex;
    width: 250px;
    height: 300px ;
    border-style:solid ;
    border-width: 5px;
    margin: 10px;
    
}




.texto-conteudo-principal{
display:inline; 
font-family:Anton ;
text-align:justify;
align-items: center;
float: right;
margin: 20px;
}




.rodapé{
max-width: 80px;
max-height: 80px;
float:right;
}




